/* Allgemeine Stile, die auf allen Bildschirmgrößen gelten sollen */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between; /* space-between verwenden */
  position: relative; /* Position relativ setzen */
  transform: translateY(-50%);

  @media (max-width: 600px) {
    flex-direction: row; /* Countdown-Kreise wieder horizontal anordnen */
    gap: 10px;
    justify-content: center; /* Bei kleineren Bildschirmen zentrieren */
    margin-top: -2vw; /* Anpassung des oberen Rands */
  }
}

.countdown-element {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  background-color: #808080;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Horizontal und vertikal zentrieren */
  font-family: "Comic Sans MS", cursive;

  top: 50%; /* Obere Hälfte des Countdown-Containers */

  @media (max-width: 600px) {
    font-size: 8vw;
    width: 20vw; /* Anpassung der Breite für bessere Ansicht auf kleinen Bildschirmen */
    height: 20vw;
  }
}

.HomeBild {
  width: 100%; /* 100% Breite, um auf verschiedene Bildschirmgrößen zu reagieren */
  max-width: 1200px; /* Maximalbreite für das Bild */

  overflow: hidden;
}

.marry {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 300px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-left: auto; /* Automatische Zentrierung links und rechts */
  margin-right: auto;
  display: block; /* Um die automatische Zentrierung zu ermöglichen */
}

.text-container {
  width: 100%;
  max-width: 1200px;
  z-index: -1; 
  background-color: white;
  margin-left: auto; /* Automatische Zentrierung links und rechts */
  margin-right: auto;
  text-align: center; /* Zentrierung des Textcontainers */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2vw; /* Anpassung des oberen Rands */
  transform: translateY(-50%);
}

.text {
  margin-top: 16vw; /* Verwenden von relativen Einheiten für den oberen Rand */
  margin-left: 2vw; /* Verwenden von relativen Einheiten für den linken Rand */
  text-align: center; /* Zentrierung des Texts innerhalb des Textcontainers */
}

@media (max-width: 600px) {
  .countdown-container {
    flex-direction: row; /* Countdown-Kreise wieder horizontal anordnen */
    gap: 10px;
    margin-top: 0; /* Kein zusätzlicher oberer Rand bei kleineren Bildschirmen */
  }

  .countdown-element {
    font-size: 6vw;
    width: 20vw; /* Anpassung der Breite für bessere Ansicht auf kleinen Bildschirmen */
    height: 20vw;
  }

  .countdown-label {
    font-size: 2vw;
    margin-top: 2vw;
  }

  .countdown-value {
    margin-top: 2vw;
  }

  .HomeBild {
    width: 100% !important; /* 100% Breite auch auf kleinen Bildschirmen */
  }

  .text-container {
    margin-top: 0; /* Kein zusätzlicher oberer Rand bei kleineren Bildschirmen */
  }

  .text {
    margin-top: 8vw;
    margin-left: 1vw;
  }
}

@media (max-width: 500px) {
  .countdown-container {
    flex-direction: row; /* Countdown-Kreise wieder horizontal anordnen */
    gap: 10px;
    margin-top: 0; /* Kein zusätzlicher oberer Rand bei kleineren Bildschirmen */
  }

  .countdown-element {
    font-size: 4vw;
    width: 18vw; /* Anpassung der Breite für bessere Ansicht auf kleinen Bildschirmen */
    height: 18vw;
  }

  .countdown-label {
    font-size: 2vw;
    margin-top: 2vw;
  }

  .countdown-value {
    margin-top: 2vw;
  }

  .HomeBild {
    width: 100% !important; /* 100% Breite auch auf kleinen Bildschirmen */
  }

  .text-container {
    margin-top: 0; /* Kein zusätzlicher oberer Rand bei kleineren Bildschirmen */
  }

  .text {
    margin-top: 8vw;
    margin-left: 1vw;
  }
}